## Liste des articles les plus populaires
Dans ce notebook, nous dressons simplement la liste des articles les plus populaires sur la dernière semaine du jeu d'entraînement, et regardons le score obtenu.
Cela nous permet d'obtenir un score de base auquel comparer les résultats des modèles ultérieurs.

In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
transactions = pd.read_pickle("pickles/transactions_clean.pkl")

In [3]:
# Filtrage en ne sélectionnant que la dernière semaine
transactions = transactions[transactions['week_number'] == 0]

In [4]:
# Récupération d'un DataFrame avec les items les plus populaires.
best_sales = transactions[['article_id']].groupby('article_id', as_index = False).agg(count = ('article_id', 'count'))
best_sales = best_sales.sort_values('count', ascending = False)
best_sales.head(12)

       article_id  count
17308  0924243001    779
16961  0918522001    581
17309  0924243002    546
17287  0923758001    528
11827  0866731001    487
16264  0909370001    478
16773  0915529003    461
4496   0751471001    434
16774  0915529005    433
5030   0762846027    416
16944  0918292001    407
430    0448509014    397

In [5]:
# Formattage de la liste.
best_articles_list = best_sales['article_id'].head(12).astype(str).to_list()
best_articles_string = ' '.join(best_articles_list)

In [9]:
# Création du dataframe final
customers = pd.read_pickle("pickles/customers.pkl")
submission = customers[['customer_id']]
submission['prediction'] = best_articles_string
submission.head()

/tmp/ipykernel_23606/4246303165.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['prediction'] = best_articles_string

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0924243001 0918522001 0924243002 0923758001 08...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0924243001 0918522001 0924243002 0923758001 08...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0924243001 0918522001 0924243002 0923758001 08...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0924243001 0918522001 0924243002 0923758001 08...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0924243001 0918522001 0924243002 0923758001 08...

In [11]:
submission.head()
submission.to_csv('submissions/submission_12_most_popular.csv', index = False)

**Score MAP@12 de la liste : 0.00744**