In [1]:
import pandas as pd
import numpy as np

In [2]:
customers = pd.read_csv('../../kaggle_h&m/customers.csv')
customers

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
...,...,...,...,...,...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,NaN,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,NaN,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,1.0,ACTIVE,Regularly,21.0,4563fc79215672cd6a863f2b4bf56b8f898f2d96ed590e...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,1.0,ACTIVE,Regularly,18.0,8892c18e9bc3dca6aa4000cb8094fc4b51ee8db2ed14d7...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,NaN,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...

In [4]:
# Nettoyage de la table Customer
  ### Colonne FN
     #### Inspection colonne  
customers['FN'].head(30)
     #### Remplacement des NaN par 0
customers['FN'] = customers['FN'].fillna(0)

  ### Colonne Active
     #### Inspection colonne 
customers['Active'].head(30)
     #### Remplacement des NaN par 0
customers['Active'] = customers['Active'].fillna(0)

  ### Colonne Club member status
     #### Inspection colonne 
customers['club_member_status'].head(30)
     #### Remplacement des NaN par NON ACTIVE
customers['club_member_status'] = customers['club_member_status'].fillna('NON ACTIVE')
customers[customers['club_member_status']=='NON ACTIVE'] 

  ### Colonne Fashion News Frequency
     #### Inspection colonne 
customers['fashion_news_frequency'].head(30)     
customers[customers['fashion_news_frequency'].isna()]  # Pour voir le lien entre cette colonne (avec modalitÃ©s NaN) et les autres colonnes 
     #### Option 1: Remplacement NaN par None
customers['fashion_news_frequency'] = customers['fashion_news_frequency'].fillna('NONE')
     #### Option 2: Suppression des lignes qui ont des valeurs manquantes dans age et fashions_news_freq
#customers[(customers['fashion_news_frequency'].isna()) &(customers['age'].isna())]  --> detecter les lignes qui ont val manquantes dans 2 colonnes
#customers = customers.dropna(axis = 0, how='all', subset=['fashion_news_frequency', 'age']) --> suppression des lignes
     #### Option 3 (suggestion de Jean) -> garder les lignes avec NaN car explication logique

  ### Colonne age
     #### Inspection de la colonne 
customers['age'].head(30)
customers[customers['age'].isna()]  # Pour voir le lien entre cette colonne (avec modalitÃ©s NaN) et les autres colonnes
     #### Option 1: Remplacement NaN par None
customers['age'] = customers['age'].fillna('NONE')
     #### Option 2: Remplacement par la moyenne
#customers['age'] = customers['age'].fillna(customers['age'].mean())

customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0.0,0.0,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0.0,0.0,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0.0,0.0,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0.0,0.0,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [6]:
#Nettoyage de la table Article
 ## Detection des lignes avec valeurs manquantes
articles[articles.isna().any(axis =1)]
 ## Choix de suppression de ces lignes et crÃ©ation d'un nouveau df 
articles['detail_desc'] = articles['detail_desc'].fillna('')

articles.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [7]:
# SÃ©lection sample du fichier transaction
transactions = pd.read_csv('../../kaggle_h&m/transactions_train.csv')
trans_sample = transactions.sample(frac = 0.05)

In [8]:
trans_sample

,t_dat,customer_id,article_id,price,sales_channel_id
14651136,2019-07-27,e9eeaf4d9597664d2490e472dbe68e73cb344960bb3894...,595696030,0.006763,2
10313800,2019-05-16,50a9a448c134eb82508491e68e7c69239c05ce0033453f...,619506007,0.013542,1
24292075,2020-04-08,638e1c47d27970220e9f57bb4350ac88ec4e13baba4e94...,841228005,0.016932,2
17289974,2019-09-29,69c3ed6328c4dd247695a3a306736f99fcd44522a20325...,787696004,0.025407,2
11779692,2019-06-13,aee52a0a0227f1061a2827c42a7b21b0040a5d571cab05...,744787001,0.030492,2
...,...,...,...,...,...
28870208,2020-07-10,e1ef306b53b81315175c5d6c9445c1a8e03996ae08a430...,865073007,0.030492,2
8874154,2019-04-17,378fc6da0ca96658bc973b671c2dfe9333f2180e2609c8...,504154019,0.042356,1
10838072,2019-05-26,842e53cd63d48fa47bfb6d556e571d15ae3e382a1306fd...,186262001,0.004220,1
18347237,2019-10-27,7d41216ac078ef0cb91246fedd07dbcde5092313364929...,714927002,0.082390,2
7757064,2019-03-24,34f0f93ddd5cc23479643b99858f515ff0b6309f98e3c3...,294008002,0.016932,2