# Ajout d'un champ `has_image` (True / False) sur les articles

In [2]:
import pandas as pd
import numpy as np
import pickle

In [20]:
# Chargement des articles
articles = pd.read_pickle('pickles/articles')
articles = articles.sort_values('article_id')
articles.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [29]:
# Chargement de la liste des fichiers images
# (Obtenu par la commande `find -name  *.jpg > images.csv` en gros) 

images = pd.read_csv('images.csv')
images['article_id'] = images['file_path'].apply(
    lambda x: 
        x.split('/')[2].split('.jpg')[0][1:]
).astype('int64')
images = images.sort_values('article_id')
images.head()

                  file_path  article_id
73653  ./010/0108775015.jpg   108775015
73652  ./010/0108775044.jpg   108775044
73651  ./010/0108775051.jpg   108775051
16811  ./011/0110065001.jpg   110065001
16810  ./011/0110065002.jpg   110065002

In [30]:
# Fusion des deux tableaux en Left join
article_images = articles.merge(images, on ="article_id", how = 'left')

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,file_path
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.,./010/0108775015.jpg
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.,./010/0108775044.jpg
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.,./010/0108775051.jpg
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde...",./011/0110065001.jpg
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde...",./011/0110065002.jpg

In [53]:
# Ajout du champ désiré
article_images['has_image'] = article_images['file_path'].isna().apply(lambda x: not x)
article_images['has_image'].value_counts()

True     105100
False       442
Name: has_image, dtype: int64

In [54]:
# Nettoyage et ré-assignation
articles = article_images.drop("file_path", 1)

In [42]:
# Sauvegarde finale
articles.to_pickle('pickles/articles')

0