In [1]:
import pandas as pd
import numpy as np
import pickle

In [3]:
transactions = pd.read_pickle("pickles/transactions.pkl")

In [4]:

# Conversion de la date en champ de type datetime.
transactions['t_dat'] = pd.to_datetime(transactions['t_dat'])

In [9]:
# Filtrage en ne sélectionnant que la dernière semaine
last_day = transactions['t_dat'].max()
transactions = transactions[(last_day - transactions['t_dat']).dt.days < 8]

In [20]:
# Récupération d'un DataFrame avec les items les plus populaires.
best_sales = transactions[['article_id']].groupby('article_id', as_index = False).agg(count = ('article_id', 'count'))
best_sales = best_sales.sort_values('count', ascending = False)
best_sales.head(12)

       article_id  count
17991   924243001    879
17642   918522001    644
17970   923758001    621
17992   924243002    607
16935   909370001    556
12354   866731001    531
17451   915529003    518
4702    751471001    483
17452   915529005    483
5253    762846027    473
17625   918292001    453
12196   865799006    452

In [23]:
# Formattage de la liste.
best_articles_list = best_sales['article_id'].head(12).astype(str).to_list()
best_articles_string = ' '.join(best_articles_list)

In [25]:
# Création du dataframe final
customers = pd.read_pickle("pickles/customers.pkl")
submission = customers[['customer_id']]
submission['prediction'] = best_articles_string

/tmp/ipykernel_5876/2207951853.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['prediction'] = best_articles_string

In [26]:
submission.head()
submission.export_csv('submission_12_most_popular.csv')

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,924243001 918522001 923758001 924243002 909370...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,924243001 918522001 923758001 924243002 909370...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,924243001 918522001 923758001 924243002 909370...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,924243001 918522001 923758001 924243002 909370...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,924243001 918522001 923758001 924243002 909370...